.bundle
hanks/*
db/*.sqlite3
db/import/*
db/backups/*
log/*.log
*.log
log/error.log*
tmp/**/*
.DS_STORE
.sass-cache/*
.project
.redcar
config/database.yml
start_acs.sh
tmp/*
.idea/*
.idea/acs.iml
db/test.sqlite3-journal
config/deploy.rb
config/deploy/*
config/app.yml
db/sphinx
log
