/* line 10, ../../../app/stylesheets/common.scss */
.msg {
  margin: 7px 0 4px 0;
  padding: 6px 8px 5px 8px;
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}

/* line 16, ../../../app/stylesheets/common.scss */
.warning {
  border-top: 2px solid #f2dd8c;
  border-bottom: 2px solid #f2dd8c;
  border-left: 2px solid #f2dd8c;
  background-color: #fff5cc;
}

/* line 22, ../../../app/stylesheets/common.scss */
.info {
  border-top: 2px solid #b8e2fb;
  border-bottom: 2px solid #b8e2fb;
  border-left: 2px solid #b8e2fb;
  background-color: #e8f6ff;
}

/* line 28, ../../../app/stylesheets/common.scss */
.notice {
  border-top: 2px solid #bbdf8d;
  border-bottom: 2px solid #bbdf8d;
  border-left: 2px solid #bbdf8d;
  background-color: #eaf7d9;
}

/* line 34, ../../../app/stylesheets/common.scss */
.error {
  border-top: 2px solid #ffaeae;
  border-bottom: 2px solid #ffaeae;
  border-left: 2px solid #ffaeae;
  background-color: #feebeb;
}

/* line 40, ../../../app/stylesheets/common.scss */
#error_explanation {
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  padding: 6px;
  margin-bottom: 6px;
  border-top: 2px solid #ffaeae;
  border-bottom: 2px solid #ffaeae;
  border-left: 2px solid #ffaeae;
  background-color: #feebeb;
}
/* line 50, ../../../app/stylesheets/common.scss */
#error_explanation h2 {
  margin: 4px 0;
}
/* line 53, ../../../app/stylesheets/common.scss */
#error_explanation ul {
  margin: .5em .5em .5em 2em;
}

/* line 57, ../../../app/stylesheets/common.scss */
.slider_error {
  margin-left: 8px;
}

/* line 60, ../../../app/stylesheets/common.scss */
.fieldHasErrors {
  border: 2px solid #ffaeae;
}

/* line 63, ../../../app/stylesheets/common.scss */
.round {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 68, ../../../app/stylesheets/common.scss */
.round_top {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
}

/* line 74, ../../../app/stylesheets/common.scss */
.round_right {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

/* line 80, ../../../app/stylesheets/common.scss */
.round_left {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

/* line 86, ../../../app/stylesheets/common.scss */
.round_bottom {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
}

/* line 92, ../../../app/stylesheets/common.scss */
.small_round {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 96, ../../../app/stylesheets/common.scss */
.small_round_top {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

/* line 102, ../../../app/stylesheets/common.scss */
.small_round_bottom {
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

/* line 108, ../../../app/stylesheets/common.scss */
.small_round_left {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
}

/* line 114, ../../../app/stylesheets/common.scss */
.medium_round {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/* line 118, ../../../app/stylesheets/common.scss */
.medium_round_top {
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}

/* line 124, ../../../app/stylesheets/common.scss */
.medium_round_bottom {
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* line 130, ../../../app/stylesheets/common.scss */
.awesome_button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: -moz-linear-gradient(center top, #f9f9f9, #e3e3e3) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e3e3e3)) repeat scroll 0 0 transparent;
  border: 1px solid #BBBBBB;
  color: #000000;
  cursor: default;
  font: 110% arial,sans-serif;
  margin: 0;
  outline: medium none;
  padding: 3px 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 148, ../../../app/stylesheets/common.scss */
.awesome_button:hover {
  border: 1px solid #6FC4F6;
  background: -moz-linear-gradient(center top, #b8e2fb, #87cef7) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#b8e2fb), to(#87cef7)) repeat scroll 0 0 transparent;
}

/* line 153, ../../../app/stylesheets/common.scss */
.awesome_button:active {
  background: -moz-linear-gradient(center top, #b8e2fb, #87cef7) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#b8e2fb), to(#87cef7)) repeat scroll 0 0 transparent;
  border: 1px solid #6FC4F6;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
  text-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
}

/* line 168, ../../../app/stylesheets/common.scss */
.positive_awesome_button {
  background-color: #eaf7d9;
  background: -moz-linear-gradient(center top, #f9f9f9, #deeaae) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#deeaae)) repeat scroll 0 0 transparent;
  border: 1px solid #bbdf8d;
  color: #529214;
  cursor: default;
  font: 70% arial,sans-serif;
  margin: 0;
  outline: medium none;
  padding: 3px 6px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 183, ../../../app/stylesheets/common.scss */
.negative_awesome_button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fbe3e4;
  background: -moz-linear-gradient(center top, #fbe3e4, #f8cecf) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbe3e4), to(#f8cecf)) repeat scroll 0 0 transparent;
  border: 1px solid #fbc2c4;
  color: #d12f19;
}

/* line 193, ../../../app/stylesheets/common.scss */
.negative_awesome_button:hover {
  border: 1px solid #F5B8B9;
  background: -moz-linear-gradient(center top, #f5b8b9, #f2a1a2) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5b8b9), to(#f2a1a2)) repeat scroll 0 0 transparent;
}

/* line 198, ../../../app/stylesheets/common.scss */
.negative_awesome_button:active {
  background: -moz-linear-gradient(center top, #f5b8b9, #f2a1a2) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5b8b9), to(#f2a1a2)) repeat scroll 0 0 transparent;
  border: 1px solid #F5B8B9;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px, black 0px 1px 3px inset, rgba(0, 0, 0, 0.4) 0px -5px 12px inset;
  text-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
}

/* line 214, ../../../app/stylesheets/common.scss */
ul li {
  list-style-type: none;
}

/* line 218, ../../../app/stylesheets/common.scss */
.left_text_align {
  text-align: left;
  padding-left: 0;
}
