Hey <%= @manager.full_name %>,
<p>The following employee was just transferred to you by <%= @submitter.full_name %>:</p>
<ul>
<li><%= @user.full_name %>, <%= @user.job.name %></li>
</ul>

<p>If you feel this is incorrect, please contact HR.</p>

Thanks,
The ACF Team

