Hey <%= @hr_user.full_name %>,
<p><%= @user.full_name %> has been submitted as a new employee for HR consideration.</p>
<p>Please visit <%= @url %> to confirm or veto this new employee.</p>

Thanks,
The ACF Team.

