
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:hover {
	color:#ffe;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
h1 {
	
	font-size:138.5%;  
}
h2 {
	
	font-size:123.1%; 
}
h3, legend {
	
	font-size:108%;  
}
h1,h2,h3 {
	
	margin:1em 0;
}
h1,h2,h3,h4,h5,h6,strong, legend {
	
	font-weight:bold; 
}
abbr,acronym {
	
	border-bottom:1px dotted #000;
	cursor:help;
} 
em {
	
	font-style:italic;
}
blockquote,ol,dl {
	
	margin:1em;
}
ol,ul,dl {
	
	margin-left:2em;
}
ul {
	margin:0;
}
ol li {
	
	list-style: decimal outside;	
}
ul li {
	
	list-style: disc outside;
}
dl dd {
	
	margin-left:1em;
}
th,td {
	
	border:1px solid #000;
	padding:.5em;
}
th {
	
	font-weight:bold;
	text-align:center;
}
caption {
	
	text-align:center;
}
fieldset,table,pre {
	
	margin-bottom:1em;
}
p {
	padding:1em .5em;
}
input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}
body {
	background-color: #f9f9f9;
}
