--- !map:HashWithIndifferentAccess
host: ldap.example.com
port: 636
encryption: :simple_tls
uid: uid
domain: ou=people,dc=example,dc=com
production:
  active: true
  login: ldap_name
development:
  active: false
  login: ldap_name-acs_user
staging:
  login: ldap_name-acs_user
  active: true
test:
  login: ldap_name
  active: false

