<%= render :partial => "form" %>
<br>
<p>If there are any additional preferences you would like to have control over, send us a <a href="mailto:acsdevelopment@example.com?subject=ACS Feature Request - Preferences">message</a>.</p>

