<%= @manager.full_name %>,
<p>Your report <%= @user.full_name %> has <%= pluralize(@count, "pending access request") %> assigned to them.</p>
<p>Please remind them to log into ACS and action these requests as soon as possible</p>

Thanks,
The ACS Team.

