<%= @user.full_name %>,
<p>You have <%= pluralize(@count, 'access request') %> awaiting your managerial approval.</p>

<p>Please visit <%= @url %> to process these requests.</p>

Thanks,
The ACS Team.

