<%= @user.full_name %>,
<p>There are currently <%= pluralize(@count, 'access request') %> that need Help Desk assignment.</p>

<p>Please visit <%= @url %> to assign and process these requests.</p>

Thanks,
The ACS Team.

