<h3>New access request</h3>

<%= form_for(:access_request, :url => new_permissions_access_requests_path) do |f| %>
  <% if @access_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access_request.errors.count, "error") %> prohibited this access_request from being saved:</h2>
      <ul>
      <% @access_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <div class="actions">
    <button type="submit" class="centerish button"><span class="rightarrow icon"></span>Next Step</button>
  </div>
<% end %>

